.capibara {
  button {
    outline: none;
    cursor: pointer;
    &.cap-rotate {
      svg,
      .mdi:before {
        transform: rotate(180deg);
      }
    }
  }

  .cap-btn-raised,
  .cap-btn-outline,
  .cap-btn-shape,
  .cap-btn-icon {
    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
    }
    &:disabled {
      opacity: 0.6;
    }
  }

  button.cap-btn-sm {
    font-size: 0.75em;
    margin: 4px;
    padding: 4px 8px;
  }

  .cap-btn-outline {
    background: transparent;
    cursor: pointer;
    color: grey;
    border: 2px solid grey;
    padding: 8px 16px;
    margin: 0px 8px;
    border-radius: 6px;
    font-weight: bold;
    &.selected {
      background: grey;
      color: white;
    }
  }

  .cap-btn-raised {
    cursor: pointer;
    padding: 8px 16px;
    margin: 0px 8px;
    border-radius: 6px;
    background: grey;
    border: 2px solid grey;
    color: white;
    font-weight: bold;
  }

  .cap-btn-icon {
    display: inline-block;
    height: 32px;
    width: 32px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 16px;
    margin-top: 4px;
    background: transparent;
    border: none;
    padding: 4px;
    font-size: 18px;
    color: grey;
    border-radius: 50%;
    position: relative;

    svg {
      fill: grey;
    }

    &.cap-btn-has-badge {
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: -0.2em;
        top: -0.2em;
        width: 0.8em;
        height: 0.8em;
        background: grey;
        border-radius: 50%;
      }
    }

    &.cap-btn-icon-raised {
      background: white;
      border: none;
    }

    &.cap-btn-icon-outline {
      background: transparent;
      border: 1px solid grey;
    }

    &.cap-btn-toggle-sidebar {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 2;
      margin: 0px;
    }

    .mdi {
      font-size: 24px;
    }
    .loading-icon {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.loading {
      & > *:not(.loading-icon) {
        display: none;
      }
      .loading-icon {
        display: unset;
      }
    }
  }

  .cap-btn-shape {
    display: inline-block;
    width: 24px;
    height: 24px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    margin: 4px;
    background: transparent;
    border: none;
    padding: 0px;
    font-size: 14px;

    .mdi {
      font-size: 24px;
    }

    &.cap-btn-circle {
      position: relative;
      border: none;
      padding: 0px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 2px;
        top: 2px;
        border-radius: 50%;
        background: grey;
        width: 22px;
        height: 22px;
      }

      span {
        position: absolute;
        left: 1px;
        top: 6px;
        width: 100%;
        display: inline-block;
        color: white;
        text-align: center;
      }
    }

    &.cap-btn-circle-outline {
      position: relative;
      border: none;
      padding: 0px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 2px;
        top: 3px;
        border-radius: 50%;
        border: 2px solid grey;
        width: 22px;
        height: 22px;
      }

      span {
        position: absolute;
        left: 1px;
        top: 6px;
        width: 100%;
        display: inline-block;
        color: grey;
        text-align: center;
      }
    }

    &.cap-btn-drop {
      position: relative;
      border: none;
      padding: 0px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 4px;
        top: 0;
        border-radius: 0px 50% 50% 50%;
        background: grey;
        width: 20px;
        height: 20px;
        transform: translate(-2px, 4px) rotate(45deg);
      }

      span {
        position: absolute;
        left: 0px;
        top: 6px;
        width: 100%;
        display: inline-block;
        color: white;
        text-align: center;
      }
    }
  }

  &.extended-right {
    *[toggle-sidebar-right] {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &.header-extended {
    *[toggle-header] {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .cap-btn-raised {
        background: mapGet($theme, button, raised, background);
        border: 2px solid mapGet($theme, button, raised, border);
        color: mapGet($theme, button, raised, color);
      }

      .cap-btn-outline {
        background: mapGet($theme, button, outline, background);
        border: 2px solid mapGet($theme, button, outline, border);
        color: mapGet($theme, button, outline, color);
        &.selected {
          background: mapGet($theme, button, raised, background);
          color: mapGet($theme, button, raised, color);
        }
      }

      .cap-btn-shape {
        color: mapGet($theme, button-shape, color);

        &.cap-btn-drop,
        &.cap-btn-circle {
          color: mapGet($theme, button-shape, contrastColor);
          &:before {
            background: mapGet($theme, button-shape, background);
          }
          &.is-empty {
            &:before {
              background: mapGet($theme, button-shape, emptyBackground);
            }
          }
        }
        &.cap-btn-circle-outline {
          &:before {
            border-color: mapGet($theme, button-shape, background);
          }
          span {
            color: mapGet($theme, button-shape, color);
          }
        }
      }

      .cap-btn-icon {
        color: mapGet($theme, button-icon, color);

        &.cap-btn-has-badge:after {
          background: setTransparent(mapGet($theme, button-icon, badge), 0.2);
        }

        &.cap-btn-icon-raised {
          background: setTransparent(
            mapGet($theme, button-icon, raised, background),
            0.9
          );
          border-color: mapGet($theme, button-icon, raised, border);
          color: mapGet($theme, button-icon, raised, color);

          &:active {
            background: mapGet($theme, button-icon, raised, background);
          }
          &:focus,
          &:hover {
            background: setTransparent(
              mapGet($theme, button-icon, raised, background),
              0.7
            );
          }
        }
        &.cap-btn-icon-outline {
          background: mapGet($theme, button-icon, outline, background);
          border-color: mapGet($theme, button-icon, outline, border);
          color: mapGet($theme, button-icon, outline, color);
          &:active {
            background: setTransparent(
              mapGet($theme, button-icon, outline, border),
              0.7
            );
          }
          &:focus,
          &:hover {
            background: setTransparent(
              mapGet($theme, button-icon, outline, border),
              0.9
            );
          }
        }
      }
    }
  }
}
