.capibara {
  .float-box-container {
    overflow: visible;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;

    &:hover {
      .float-box-ext {
        .long-bar-container .long-bar {
          opacity: 0.3;
        }
      }
    }

    .float-box {
      width: var(--day-width);
      max-width: var(--day-width);
      min-width: var(--day-width);
      height: var(--item-height);
      max-height: var(--item-height);
      min-height: var(--item-height);
      position: absolute;
      cursor: default;
      transition: 0.2s box-shadow ease;
      display: flex;
      flex-direction: column;
      will-change: display;
      z-index: 1;

      .float-box-content {
        width: var(--day-width);
        max-width: var(--day-width);
        min-width: var(--day-width);
        height: var(--item-height);
        max-height: var(--item-height);
        min-height: var(--item-height);
        overflow: hidden;
        transition: 0.2s box-shadow ease;
        display: flex;
        flex-direction: column;
        z-index: 1;
      }

      &[data-is-visible="false"] {
        display: none !important;
      }

      &:hover {
        z-index: 2;
        & + .float-box-ext {
          .long-bar {
            z-index: 2;
            opacity: 1;
          }
        }
      }

      .icon-message {
        position: absolute;
        z-index: 2;
        top: -3px;
        right: -2px;
        width: 16px;
        height: 16px;
        background: #ffeb3b;
        color: #4e342e;
        fill: #4e342e;
        vertical-align: middle;
        border-radius: 50%;
        border: 1px solid #ffeb3b;
        svg {
          margin: 0;
          top: 0;
          position: absolute;
        }
      }

      /*
      &.has-message:after {
        content: "test";
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        right: 0px;
        top: 0px;
        border-width: 6px;
        border-style: solid;
        border-color: red red transparent transparent;
        //animation: pulseMessage 1s infinite alternate;
        z-index: 1;
      }
      */

      &.has-errors {
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 7px;
          height: 7px;
          left: 1px;
          top: 1px;
          border-radius: 50%;
          background: rgb(211, 47, 47);
          //animation: pulseBackground 1s infinite alternate;
          z-index: 1;
        }
        &.triangle-up {
          &::before {
            left: 2px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px;
            transform: rotate(45deg) translate(2px, 2px);
            border-radius: 0;
            border-color: #64dd17 transparent transparent #64dd17;
            background-color: transparent;
          }
        }
        &.triangle-down {
          &::before {
            left: 2px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px;
            transform: rotate(-135deg) translate(2px, 2px);
            border-radius: 0;
            border-color: rgb(211, 47, 47) transparent transparent
              rgb(211, 47, 47);
            background-color: transparent;
          }
        }
      }

      .dot-container-top,
      .dot-container-middle,
      .dot-container-bottom {
        position: absolute;
        left: 0px;
        width: 100%;
        overflow: visible;
        height: 0px;
        display: flex;
        justify-content: center;
      }

      .dot-container-top {
        top: 1px;

        .dot {
          border-radius: 0px 0px 50% 50%;
        }
      }

      .dot-container-middle {
        top: calc(50% - 4px);
      }

      .dot-container-bottom {
        bottom: 5px;

        .dot {
          border-radius: 0px 0px 50% 50%;
        }
      }

      .dot {
        width: 8px;
        min-width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 1px;
        vertical-align: middle;
        border-width: 1px;
        border-style: solid;
        border-color: var(--local-color, rgba(255, 255, 255, 0.8));
        background: var(--local-color, rgba(100, 100, 100, 0.5));
        //backdrop-filter: blur(2px);

        &.diamond {
          border-radius: 0;
          transform: rotate(45deg) skew(10deg, 10deg);
        }

        &.outlined {
          background-color: transparent;
        }

        &.triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px;
          transform: rotate(45deg) skew(10deg, 10deg) translate(1px, 1px);
          border-color: var(--local-color, rgba(100, 100, 100, 0.8)) transparent
            transparent var(--local-color, rgba(100, 100, 100, 0.8));
          border-radius: 0;
          background-color: transparent;
        }
      }

      span.data {
        width: calc(100%);
        display: block;
        position: relative;
        font-size: 0.875em;
        text-align: center;
        box-sizing: border-box;
        height: calc(var(--item-height) / 2);
        line-height: calc(var(--item-height) / 2);
        margin-bottom: 2px;
        font-weight: bold;
        box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        color: var(--local-color-font, white);
        backdrop-filter: opacity(20%);
        background: var(--local-color, rgba(0, 0, 0, 0.4));
        border-color: var(--local-color, rgba(0, 0, 0, 0.2));
        border-width: 2px;
        border-style: solid;

        &.shape-outlined {
          background-color: transparent !important;

          &:before {
            content: "";
            opacity: 0.3;
            backdrop-filter: blur(2px);
            background: var(--local-color, inherit);
            position: absolute;
            left: -1px;
            top: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            display: block;
            z-index: -1;
          }
        }

        &.shape-bar {
          height: calc(var(--item-height) / 4 - 1.5px);
          width: calc(var(--day-width) - 6px);
          line-height: 0;
          color: transparent;
          border-radius: 1px;
          margin: 0px 3px;

          &:first-of-type {
            margin-top: 3px;
          }
        }

        &.shape-bar-outlined {
          height: calc(var(--item-height) / 4 - 1.5px);
          width: calc(var(--day-width) - 6px);
          line-height: 0px;
          color: transparent;
          border-radius: 1px;
          margin: 0px 3px;
          background-color: transparent !important;

          &:first-of-type {
            margin-top: 3px;
          }

          &:before {
            content: "";
            opacity: 0.3;
            backdrop-filter: blur(2px);
            background: var(--local-color, inherit);
            position: absolute;
            left: -1px;
            top: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            display: block;
          }
        }

        &.shape-bar-dashed {
          height: calc(var(--item-height) / 4 - 1.5px);
          width: calc(var(--day-width) - 6px);
          line-height: 0px;
          color: transparent;
          border-radius: 1px;
          margin: 0px 3px;
          background-color: transparent !important;

          &:first-of-type {
            margin-top: 3px;
          }

          &:before {
            content: "";
            //backdrop-filter: blur(2px);
            background: var(--local-color, inherit);
            position: absolute;
            left: -1px;
            top: -1px;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            display: block;

            background-color: transparent;
            background-size: 10px 10px;
            background-image: repeating-linear-gradient(
              45deg,
              var(--local-color, inherit) 0,
              var(--local-color, inherit) 3px,
              transparent 0,
              transparent 50%
            );
          }
        }
      }

      span.rowdot--row {
        display: flex;
        max-height: calc((var(--item-height) / 4) - 1px);
        height: calc((var(--item-height) / 4) - 1px);
        width: calc(var(--day-width) - 2px);
        line-height: 0;
        color: transparent;
        margin: 1px;
        border-color: var(--local-color, rgba(0, 0, 0, 0.2));

        &:first-of-type {
          margin-top: 3px;
        }

        &:empty {
          display: none !important;
        }

        .rowdot--dot {
          width: calc((var(--day-width) / 4) - 2px);
          height: calc((var(--item-height) / 4) - 2px);
          margin-right: 1px;
          vertical-align: middle;
          border-width: 3px;
          border-style: solid;
          border-color: var(--local-color, rgba(255, 255, 255, 0.8));
          background: var(--local-color, rgba(100, 100, 100, 0.8));
          box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);

          &.shape-outlined {
            background-color: rgba(100, 100, 100, 0.2);
          }

          &.shape-rounded {
            border-radius: 50%;
            width: calc((var(--item-height) / 4) - 0.5px);
          }

          &.shape-outlined-rounded {
            border-radius: 50%;
            background-color: transparent;
            width: calc((var(--item-height) / 4) - 0.5px);
          }
        }
      }

      .plot-floatbox-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: visible;

        .plot-floatbox {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: var(--local-color, rgba(0, 0, 0, 0.4));
          transition: 0.2s opacity ease;

          &.stripe {
            background: repeating-linear-gradient(
              53deg,
              var(--local-color, rgba(0, 0, 0, 0.4)),
              var(--local-color, rgba(0, 0, 0, 0.4)) 5px,
              transparent 5px,
              transparent 12px
            );
          }

          &.stripe-inverse {
            background: repeating-linear-gradient(
              127deg,
              var(--local-color, rgba(0, 0, 0, 0.4)),
              var(--local-color, rgba(0, 0, 0, 0.4)) 5px,
              transparent 5px,
              transparent 12px
            );
          }
        }
      }
    }

    .icon-floatbox {
      width: calc(var(--day-width) - 16px);
      margin: 6px;
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0.8;
      svg path {
        fill: var(--local-color, rgba(0, 0, 0, 0.4));
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
      }
      &:hover {
        opacity: 1;
      }
    }

    .float-box-ext {
      position: absolute;
      overflow: visible;
      cursor: default;
      transition: 0.2s box-shadow ease;
      will-change: display;
      pointer-events: none;

      .long-bar-container {
        position: absolute;
        left: var(--day-width);
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        .long-bar {
          //width: var(--local-width, 0px);
          width: calc(
            var(--day-width, 0) * var(--long, 0) - (var(--day-width, 0) * 0.5)
          );
          //min-width: var(--local-width, calc(var(--day-width) *3) );
          min-width: calc(
            var(--day-width, 0) * var(--long, 0) - (var(--day-width, 0) * 0.5)
          );
          height: calc(var(--item-height) / 4 - 3.5px);
          line-height: 0;
          color: transparent;
          background: var(--local-color, rgba(0, 0, 0, 0.4));
          border-color: var(--local-color, rgba(0, 0, 0, 0.2));
          border-radius: 0 3px 3px 0;
          margin-left: -3px;
          margin-top: 1px;
          margin-bottom: 1px;
          border-width: 2px 2px 2px 0;
          opacity: var(--local-opacity, 1);
          border-style: solid;
          border-color: rgba(0, 0, 0, 0.2);
          transition: 0.2s opacity ease;

          &.solid {
            opacity: 1;
          }

          &:first-of-type {
            margin-top: 4px;
          }
        }
      }
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .float-box-container {
        .float-box {
          &:hover {
            box-shadow: 0px 0px 2px 7px mapGet($theme, floatBox, shadow);

            & + .float-box-ext {
              .long-bar {
                box-shadow: 0px 0px 2px 4px mapGet($theme, floatBox, shadow);
              }
            }
          }

          & + .float-box-ext {
            .long-bar {
              &.red-light {
                background: mapGet($theme, light, low);
              }
              &.yellow-light {
                background: mapGet($theme, light, medium);
              }
              &.green-light {
                background: mapGet($theme, light, high);
              }
            }
          }

          span.data {
            &.shape-bar {
              border-color: mapGet($theme, floatBox, shapeBar, border);
            }
          }
        }
      }
    }
  }
}
