.capibara {
  .hour-input {
    border: 1px solid grey;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    margin: 8px 4px;
    overflow: hidden;

    input {
      width: 50%;
      height: inherit;
      border: 1px solid transparent;
      background: transparent;
      font-size: 0.875em;
      &:active,
      &:focus {
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    span {
      width: 8px;
      text-align: center;
    }
    .hh {
      text-align: right;
    }
    .mm {
    }
  }

  //big input
  .time {
    border-radius: 6px;
    display: inline-block;
    font-size: 0px;
    .symbol {
      display: inline-block;
      height: auto;
      width: 20px;
      font-size: 2rem;
      text-align: center;
      vertical-align: center;
    }
    input {
      border-radius: 6px;
      border: 2px solid transparent;
      width: 62px;
      text-align: center;
      font-size: 2rem;
      position: relative;
      transition: 0.1s all ease;
      outline: none;
      background: transparent;
      padding: 6px;

      &:focus,
      &:active {
        transform: scale(1.06);
      }
      &.hour {
      }
      &.minutes {
      }
      &:invalid{
        border: 2px solid red;
      }
    }
  }

  .buttons-group {
    display: flex;
    flex-direction: row;
    button.cap-btn-outline {
      border-radius: 0;
      margin: 0px -2px 0px 0px;
      &:first-of-type {
        border-radius: 6px 0 0 6px;
        margin-left: 4px;
      }
      &:last-of-type {
        border-radius: 0 6px 6px 0;
        margin-right: 4px;
      }
    }
  }

  .input-box-tab-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    border-radius: 6px 6px 0 0;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: grey;
    .input-box-tab {
      flex: 1 1 auto;
      padding: 0.3em 1em;
      font-size: 0.9em;
      border-right: 1px solid grey;
      cursor: pointer;
      &.active {
        background: rgba(150, 150, 150, 0.3);
      }
      &:last-child {
        border-right: none;
      }
    }
    & + .input-box {
      border-radius: 0 0 6px 6px;
    }
  }

  .input-box {
    margin: 0px 16px;
    min-height: 180px;
    border: 2px solid grey;
    border-radius: 6px;
    overflow-y: scroll;
    padding-bottom: 60px;
    width: 100%;
    max-height: 300px;

    .search-input-container {
      padding: 0.3em;
      max-width: 100%;
      text-align: center;
      border-bottom: 1px solid rgba(100, 100, 100, 0.3);
      position: relative;

      .search-input {
        border: 1px solid rgba(100, 100, 100, 10.5);
        border-radius: 13px;
        height: 26px;
        padding: 0.5em 1em;
        max-width: 100%;
        width: 100%;
        font-size: 0.8em;
        color: inherit;
      }
      .search-input:placeholder-shown + .search-input-clear {
        display: none;
      }
      .search-input-clear {
        position: absolute;
        right: 1em;
        top: 0.4em;
        color: rgba(100, 100, 100, 0.6);
        background-color: transparent;
        border-style: none;
      }
    }

    .mini-input-section {
      padding: 0.5em 2em 0.5em 0.5em;
      text-align: left;
      width: 100%;
      position: relative;
      border-bottom: 1px solid rgba(100, 100, 100, 0.3);

      &.has-icon {
        padding: 0.5em 2em 0.5em 1.5em;
      }

      &.clickeable {
        cursor: pointer;
        &:hover {
          label {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      &.is-title {
        background: rgba(100, 100, 100, 0.1);
        .mini-input-section--title {
          opacity: 0.6;
        }
      }

      &--tooltip {
        position: absolute;
        right: 0;
        top: 1.5em;
        display: none;
        padding: 0.5em;
        margin: 1em;
        color: black;
        border-radius: 3px;
        z-index: 2;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      }

      label {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 0.875em;
        align-items: baseline;
      }

      &--titles {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        max-width: 100%;
        flex: 0 1 auto;
      }

      &--content {
        display: flex;
        flex-direction: row;
        justify-content: end;
        flex: 1 0 auto;
        font-size: 1em;
        padding: 0 0.5em;
      }

      &--title,
      &--subtitle {
        position: relative;
        width: unset;
        max-width: 100%;
        flex-grow: 1;
      }
      &--subtitle {
        font-size: 0.875em;
      }

      &--suffix {
        flex: 0 0 auto;
        font-size: 0.875em;
        display: flex;
        flex-direction: column;
      }

      &--icon {
        display: inline-block;
        position: absolute;
        left: 0.5em;
        top: 0.75em;
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;
        background: var(--local-color, grey);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      }

      &--link {
        opacity: 0.6;
        color: #2196f3;
        display: inline-block;
        position: absolute;
        right: 0.5em;
        top: 0.75em;
        svg {
          width: 18px !important;
          height: 18px !important;
        }
      }

      &:hover .mini-input-section--tooltip {
        display: block;
      }

      input {
        text-align: center;
        width: 4em;
        margin-right: 0.5em;
        border: 1px solid grey;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.2);
        font-size: 1em;
        flex: 0 0 4em;
        &:active,
        &:focus {
          background: rgba(255, 255, 255, 0.8);
        }
      }

      &--footer {
        margin-top: 0.25em;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  select.input-select {
    padding: 0.3em 1em;
    width: 100%;
    flex: 1 0 100%;
    border: 1px solid grey;
    border-radius: 6px;
    background: inherit;
    cursor: pointer;
    appearance: auto;
    option {
      padding: 0.3em;
      color: inherit;
      background: inherit;
    }
  }

  .input-section-list {
    margin: 16px 0;
    .input-section-title {
      margin-bottom: 8px;
    }
    .input-section {
      margin: 0 16px 8px 16px;
    }
  }
  .input-section {
    margin: 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;

    &.to-right {
      align-items: end;
    }
    
    &.to-left {
      align-items: start;
    }

    .small-close {
      position: absolute;
      right: -10px;
      top: -10px;
      width: 1.2em;
      height: 1.2em;
      font-size: 0.9em;
      border: 1px solid white;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      text-align: center;
      color: white;
      background: red;
      border-radius: 50%;
      vertical-align: middle;
    }

    .text-subtitle {
      // text-align: center;
      // align-self: center;
    }

    .input-section-title {
      flex: 1 1 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      button {
        margin-left: auto;
        flex: 0 0 auto;
        display: flex;
        flex-wrap: nowrap;
      }
    }

    .input-section-link {
      flex: 1 1 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      padding-top: 0.25em;
      a {
        color: #2196f3;
        margin-top: 0.75rem;
      }
    }

    &.is-invalid {
      input.nav-input {
        border: 2px solid red !important;
        box-shadow: 0px 0px 3px red !important;
      }
      .input-box {
        border: 2px solid red !important;
        box-shadow: 0px 0px 3px red !important;
      }
    }

    &.dense {
      input.nav-input {
        width: 50%;
        font-size: 1em;
        padding: 3px 6px;
      }
    }

    input.nav-input {
      border: 2px solid transparentize(grey, 0.3);
      border-radius: 6px;
      //width: 70%;
      width: 100%;
      min-width: 130px;
      max-width: 170px;
      font-size: 2em;
      text-align: center;
      padding: 3px 6px;
      background: transparent;
      outline: none;
      transition: 0.1s all ease;
      margin-bottom: 8px;
      &:focus,
      &:active {
        border: 2px solid grey;
        box-shadow: 0px 4px 6px transparentize(grey, 0.8);
      }
      &.small {
        font-size: 1.3em;
      }
    }

    .nav-input-file {
      border: 2px solid transparentize(grey, 0.3);
      border-radius: 6px;
      width: 70%;
      min-width: 130px;
      padding: 3px 6px;
      text-align: center;
      background: transparent;
      outline: none;
      transition: 0.1s all ease;
      position: relative;
      &:focus,
      &:active {
        border: 2px solid grey;
        box-shadow: 0px 4px 6px transparentize(grey, 0.8);
      }
      label {
        flex: 1 1 auto;
      }
      input[type="file"] {
        display: none;
      }
    }

    .input-section-col {
      width: auto;
      position: relative;
      flex: 1 1 10%;
      input.nav-input {
        min-width: unset;
        width: calc(100% - 1rem);
        max-width: 7rem;
      }
    }

    &.msj-input-container {
      textarea.msj {
        outline: none;
        border-radius: 6px;
        border: 2px solid grey;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        transition: 0.1s all ease;
        padding: 8px;
        box-sizing: border-box;
        &:focus,
        &:active {
          box-shadow: 0px 4px 6px transparentize(#ffa000, 0.8);
        }
      }
    }
    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      vertical-align: middle;
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .time {
        border: 2px solid setTransparent(mapGet($theme, input, border), 0.3);
        color: mapGet($theme, input, border);
        .symbol {
          color: mapGet($theme, input, color);
        }
        input {
          color: mapGet($theme, input, color);
          &:focus,
          &:active {
            border-color: mapGet($theme, input, border);
            box-shadow: 0px
              4px
              6px
              setTransparent(mapGet($theme, input, border), 0.8);
          }
        }
      }

      .input-box-tab-container {
        border-color: mapGet($theme, input, border);
        .input-box-tab {
          border-color: mapGet($theme, input, border);
        }
      }

      .input-box {
        color: mapGet($theme, input, color);
        border: 2px solid mapGet($theme, input, border);

        .mini-input-section {
          input {
            background: mapGet($theme, nav, left, input, background);
            color: mapGet($theme, nav, left, input, color);
            &:active,
            &:focus {
              background: mapGet($theme, nav, right, tooltip, background);
            }
          }
          &--tooltip {
            background: mapGet($theme, nav, right, tooltip, background);
            color: mapGet($theme, nav, right, tooltip, color);
            border: 1px solid mapGet($theme, nav, right, tooltip, color);
          }
        }
      }

      .input-section {
        select.input-select {
          color: mapGet($theme, input, color);
          border: 2px solid setTransparent(mapGet($theme, input, border), 0.3);
          &:focus,
          &:active {
            border: 2px solid mapGet($theme, input, border);
            box-shadow: 0px
              4px
              6px
              setTransparent(mapGet($theme, input, border), 0.8);
          }
          option {
            background: mapGet($theme, nav, left, background);
            color: mapGet($theme, input, color);
          }
        }

        input.nav-input,
        .nav-input-file {
          color: mapGet($theme, input, color);
          border: 2px solid setTransparent(mapGet($theme, input, border), 0.3);
          &:focus,
          &:active {
            border: 2px solid mapGet($theme, input, border);
            box-shadow: 0px
              4px
              6px
              setTransparent(mapGet($theme, input, border), 0.8);
          }
        }
        &.msj-input-container {
          textarea.msj {
            background: setTransparent(
              mapGet($theme, input, msj, background),
              0.4
            );
            border: 2px solid mapGet($theme, input, msj, border);
            color: mapGet($theme, input, msj, color);
            &:focus,
            &:active {
              background: setTransparent(
                mapGet($theme, input, msj, background),
                0.2
              );
              box-shadow: 0px
                4px
                6px
                setTransparent(mapGet($theme, input, msj, border), 0.8);
            }
          }
        }
      }
    }
  }
}
