.capibara {
  .light {
    //semaforo
    display: block;
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    border-radius: 50%;
    margin: 12px 8px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: var(--light-color, unset);
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .light {
        border-color: mapGet($theme, light, border);

        &.red-light {
          background: mapGet($theme, light, low);
        }

        &.yellow-light {
          background: mapGet($theme, light, medium);
        }

        &.green-light {
          background: mapGet($theme, light, high);
        }

        &.disabled-light {
          background: mapGet($theme, light, disabled);
        }

        &.blue-light {
          background: mapGet($theme, light, blue);
        }
      }
    }
  }
}
