.capibara {
  .progress-bar {
    width: 100%;
    height: 4px;
    background-color: rgba(221, 221, 221, 0.2);
    overflow: hidden;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: 1s height ease;

    &.hide-progress {
      height: 0px;
    }

    &::before {
      content: "";
      position: absolute;
      transform: translateX(-100%);
      width: 62.5%;
      height: 100%;
      background-color: rgb(41, 41, 41);
      animation-name: loading-fast1;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
    }

    &::after {
      content: "";
      position: absolute;
      transform: translateX(-100%);
      width: 62.5%;
      height: 100%;
      background-color: rgb(41, 41, 41);
      animation-name: loading-fast2;
      animation-duration: 2s;
      animation-delay: 1.3s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
    }
  }
}
