.capibara {
  select.tabs-select {
    margin: 6px 18px;
    background: grey;
    color: white;
    font-size: 16px;
    outline: none;
    width: 100px;

    padding: 3px 18px;
    font-weight: bold;
    border: 1px solid transparent;
    margin: 8px;
    border-radius: 30px;
    transition: background 0.2s ease;
    appearance: none;

    option {
      color: grey;
      background: white;
      padding: 15px;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 10px;
      top: 4px;
      border-width: 4px;
      border-color: white;
      z-index: 2;
    }

    &.disabled {
      color: grey;
    }
    &:hover {
      border-color: grey;
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      select.tabs-select {
        background: mapGet($theme, header, active, background);
        color: mapGet($theme, header, active, color);
      }
    }
  }
}
