.capibara {
  *[cap-tooltip] {
    position: relative;
    display: inline-block;

    &:hover:before {
      padding: 8px;
      opacity: 1;
      border-width: 1px;
      height: auto;
    }

    &:before {
      opacity: 0.3;
      height: 0px;
      padding: 0px 8px;
      text-align: left;
      overflow: hidden;
      font-size: 14px;
      font-weight: initial;
      position: absolute;
      top: calc(100% + 18px);
      left: 50%;
      transform: translatex(-50%);
      background-color: rgba(0, 0, 0, 0.7);
      border: 0px solid black;
      border-radius: 5px;
      color: #fff;
      content: attr(
        cap-tooltip
      ); //This pulls in the text from the element with the cap-tooltip
      text-transform: none;
      //transition: all 0.2s ease;
      min-width: 100px;
      z-index: 5;
    }
  }
}
