.capibara {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  input {
    outline: none;

    &[type="number"] {
      -moz-appearance: textfield; /* Firefox */

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        //color: $color_placeholder;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        //color: $color_placeholder;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        //color: $color_placeholder;
      }
    }
  }
}
