.capibara {
  scrollbar-width: auto; //firefox

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    opacity: 0.5;

    &-corner {
      background: transparent;
    }

    &-track {
      background: transparent;
    }

    &-thumb {
      border-radius: 5px;
      background: grey;
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      ::-webkit-scrollbar {
        &-corner {
          background: mapGet($theme, scroll, background);
        }

        &-track {
          background: mapGet($theme, scroll, background);
        }

        &-thumb {
          background: mapGet($theme, scroll, color);
        }
      }
    }
  }
}
