.capibara {
  //desktop
  @media screen and (min-width: 960px) {
    .c-d-desktop-none {
      display: none !important;
    }

    .c-d-desktop-inline-block {
      display: inline-block !important;
    }

    .c-d-desktop-block {
      display: block !important;
    }

    .c-d-desktop-flex {
      display: flex !important;
    }
  }

  //mobile
  @media screen and (max-width: 959px) {
    .c-d-mobile-none {
      display: none !important;
    }

    .c-d-mobile-block {
      display: block !important;
    }

    .c-d-mobile-inline-block {
      display: inline-block !important;
    }

    .c-d-mobile-flex {
      display: flex !important;
    }
  }
}
