.capibara {
  &.dark-theme .hide-dark {
    display: none !important;
  }

  &:not(.dark-theme) .hide-light {
    display: none !important;
  }

  .truncate {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hide {
    display: none !important;
  }

  .text-title {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0.5em 0.3em;
  }

  .text-subtitle {
    font-size: 0.875em;
    font-weight: bold;
    margin: 0.5em 0.3em;
    flex: 0 0 auto;
  }

  .text-hint {
    font-size: 0.75em;
    margin: 0.3em;
    text-align: left;
    align-self: flex-start;
  }

  .text-subtitle-2 {
    font-size: 0.75em;
    margin: 0.5em 0.3em;
    flex: 0 0 auto;
  }

  .d-inline-block {
    display: inline-block;
  }

  .d-block {
    display: block;
  }
  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
