.capibara {
  @keyframes pulseMessage {
    0% {
      border-color: rgba(211, 47, 47, 0.3) rgba(211, 47, 47, 0.3) transparent
        transparent;
    }

    100% {
      border-color: rgb(211, 47, 47) rgb(211, 47, 47) transparent transparent;
    }
  }

  @keyframes pulseBackground {
    0% {
      background: rgba(211, 47, 47, 0.3);
    }
    100% {
      background: rgb(211, 47, 47);
    }
  }

  @keyframes loading-fast1 {
    0% {
      transform: translateX(-100%);
    }
    40% {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(200%);
    }
  }

  @keyframes loading-fast2 {
    0% {
      transform: translateX(-100%);
    }
    15% {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(200%);
    }
  }
}
