//dd colors

$red         : rgba(244,67,54,1);
$pink        : rgba(233,30,99,1);
$purple      : rgba(156,39,176,1);
$deep_purple : rgba(103,58,183,1);
$indigo      : rgba(63,81,181,1);
$blue        : rgba(25,118,210,1);
$light_blue  : rgba(3,169,244,1);
$cyan        : rgba(0,188,212,1);
$teal        : rgba(0,150,136,1);
$green       : rgba(46,125,50,1); //rgba(76,175,80,1);
$light_green : rgba(139,195,74,1);
$lime        : rgba(205,220,57,1);
$yellow      : rgba(255,235,59,1);
$amber       : rgba(255,193,7,1);
$orange      : rgba(255,152,0,1);
$deep_orange : rgba(230,74,25,1);
$brown       : rgba(121,85,72,1);
$blue_grey   : rgba(96,125,139,1);



$dd_colors  : (
"c-red"         : $red,
"c-pink"        : $pink,
"c-purple"      : $purple,
"c-deep-purple" : $deep_purple,
"c-indigo"      : $indigo,
"c-blue"        : $blue,
"c-light-blue"  : $light_blue,
"c-cyan"        : $cyan,
"c-teal"        : $teal,
"c-green"       : $green,
"c-light-green" : $light_green,
"c-lime"        : $lime,
"c-yellow"      : $yellow,
"c-amber"       : $amber,
"c-orange"      : $orange,
"c-deep-orange" : $deep_orange,
"c-brown"       : $brown,
"c-blue_grey"   : $blue_grey,
);


$darkBlueColors:(
  "darken-5"  : rgb(10, 12, 17),
  "darken-4"  : rgb(18, 22, 29),
  "darken-3"  : rgb(26, 31, 42),
  "darken-2"  : rgb(34, 40, 55),
  "darken-1"  : rgb(41, 50, 67),
  "base"      : rgb(49, 59, 80),
  "lighten-1" : rgb(57, 68, 93),
  "lighten-2" : rgb(64, 78, 105),
  "lighten-3" : rgb(72, 87, 118),
  "lighten-4" : rgb(80, 96, 131),
  "lighten-5" : rgb(88, 106, 143)
);
