@use "sass:math";

@function mapGet($map, $list...) {
  @each $key in $list {
    @if $map {
      $map: map-get($map, $key);
    }
  }
  @if $map {
    @return $map;
  } @else {
    @return null;
  }
}

//valida a transparentize, en caso de no existir color, devuelve null
// evita el error de color no existente
// si devuelve null, el atributo no sera agregado por sass al compilar
@function setTransparent($color, $opacity) {
  @if $color {
    @return transparentize($color, $opacity);
  }
  @return null;
}

//https://css-tricks.com/css-variables-calc-rgb-enforcing-high-contrast-colors/
@function getColorFontContrast(
  $color,
  $black: rgba(38, 50, 56, 1),
  $white: white
) {
  $colorFont: $white;
  $sum: round(
    math.div(
      ((red($color) * 299) + (green($color) * 587) + (blue($color)) * 114),
      1000
    )
  );

  @if $sum > 128 {
    $colorFont: $black;
  }
  @return $colorFont;
}
