:root {
  --header-top-height    : 40px;
  --header-height        : 98px;
  --header-labels-height : 50px;
  --header-day-height    : 24px;
  --ex-header-height     : 120px;
  --header-input-height  : 20px;

  --nav-width            : 200px;
  --nav-item-col-width   : 60px;
  --initial-nav-width    : 0px; //calc(var(--nav-item-col-width) * 3);
  --ex-nav-width         : 0px; //calc(var(--nav-item-col-width) * 6);
  --btn-nav-width        : 117px;
  --nav-right-width      : 300px;
  --item-min-width       : 100px;
  --item-height          : 45px;
  --day-width            : 45px;

  --font-size: 16px;
  
}
