.capibara {
  position: relative;
  font-family: "Roboto", sans-serif;
  height: inherit;
  max-height: inherit;
  overflow: hidden;
  user-select: none;
  line-height: initial;
  font-size: var(--font-size);
  pre {
    font-family: "Roboto", sans-serif !important;
  }
}

@each $nameTheme, $theme in $themes {
  .capibara#{$nameTheme} {
    color: mapGet($theme, color);
    background: mapGet($theme, background);
  }
}
