.capibara {
  .cap-context-menu-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    will-change: transform, left, top;

    &.cm-hide {
      .cap-context-menu {
        visibility: hidden;
        opacity: 0;
      }
    }

    .cap-context-menu {
      position: absolute;
      min-width: 250px;
      z-index: 2;
      border-radius: 5px;
      border: 1px solid grey;
      background: rgb(255, 255, 255);
      box-shadow:
        0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12);
      font-size: 0.75em;
      transition: all 0.1s linear;
      visibility: visible;
      opacity: 1;
      padding: 0.4em 0px;
      vertical-align: middle;

      &_item {
        padding: 0.5em 1em;
        flex: 0 0 auto;

        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &:hover {
          background: rgba(20, 20, 20, 0.2);
        }

        &.is-disabled {
          opacity: 0.5;
          cursor: unset;
          &:hover {
            background: none;
          }
        }

        &.is-divider {
          cursor: unset;
          height: 0px;
          border-bottom: 1px solid rgba(20, 20, 20, 0.2);
          padding: 0;
          margin: 0.3em 1em;
        }

        &_icon {
          display: inline-block;
          flex: 0 0 auto;
          padding-right: 0.5em;
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .cap-context-menu-container {
        .cap-context-menu {
          color: mapGet($theme, color);
          border-color: mapGet($theme, detailDay, border);
          background: mapGet($theme, detailDay, background);
          svg path {
            fill: mapGet($theme, color);
          }
        }
      }
    }
  }
}
