.capibara {
  .container-tl {
    width: 100%;
    height: calc(100% - var(--header-top-height));
    max-height: calc(100% - var(--header-top-height));
    position: relative;
    overflow: scroll;
    margin: 0px;
    will-change: scroll-position;
  }
  &.extended-right {
    .container-tl {
      width: calc(100% - var(--nav-right-width));
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .container-tl {
        background: mapGet($theme, background);
      }
    }
  }
}
