.capibara {
  .corner {
    position: absolute;
    top: var(--header-top-height);
    z-index: 4;
    height: var(--header-height);
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    padding-left: 8px;

    &:not(.right) {
      left: 0px;
      border-right-width: 1px;
      width: calc(
        var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
          var(--btn-nav-width)
      );
    }

    &.right {
      right: 0px;
      width: var(--nav-right-width);
      display: none;
    }

    & > div:not([class]) {
      width: inherit;
      height: inherit;
    }

    .btn-container {
      padding-top: 0.5em;
      .corner-btn {
        font-size: 0.825em;
        margin: 0px 4px;
        padding: 4px 8px;
      }
    }

    .corner-title {
      height: inherit;
      display: block;
      text-align: left;
      position: relative;

      span.bottom-text {
        position: absolute;
        left: 0;
        bottom: 8px;
      }

      @media screen and (max-width: 959px) {
        font-size: 0.75em;
      }
    }

    .initial-corner {
      position: absolute;
      left: var(--nav-width);
      top: 0px;
      width: var(--initial-nav-width);
      height: var(--header-height);
      overflow: hidden;
      display: block;

      .initial-corner-title {
        height: inherit;
        //width: 50px; //temp
        width: inherit;
        display: inline-block;
        margin-right: -1px;
        box-sizing: border-box;
        vertical-align: top;
        position: relative;

        .bottom-container {
          position: absolute;
          left: 0px;
          bottom: 8px;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          //padding-right:  8px !important;
          //padding-left: 8px;
          .item-col {
            flex: 0 0 var(--nav-item-col-width);
            text-align: center;
            display: inline-block;
            font-size: 0.75em;
          }
        }
      }
    }

    .extend-corner {
      position: absolute;
      left: calc(var(--nav-width) + var(--initial-nav-width));
      top: 0px;
      width: var(--ex-nav-width);
      height: var(--header-height);
      overflow: hidden;
      display: block;

      .ex-corner-title {
        height: inherit;
        //width: 50px; //temp
        width: inherit;
        display: inline-block;
        margin-right: -1px;
        box-sizing: border-box;
        vertical-align: top;
        position: relative;

        .bottom-container {
          position: absolute;
          left: 0px;
          bottom: 8px;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          //padding-right:  8px !important;
          //padding-left: 8px;
          .item-col {
            flex: 0 0 var(--nav-item-col-width);
            text-align: center;
            display: inline-block;
            font-size: 0.75em;
          }
        }
      }
    }

    .cap-btn-nav-corner {
      position: absolute;
      //left: var(--nav-width);
      right: 0;
      top: 0px;
      width: var(--btn-nav-width);
      height: var(--header-height);
      min-width: 100px;
      //overflow: hidden;
      padding-top: var(--header-labels-height);

      .input-titles {
        text-align: right;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: var(--header-labels-height);

        .input-title-container {
          position: relative;
          border-radius: 3px;

          &:not(.persistent) {
            //visibility: hidden;
            display: none;
          }

          &.input-title--accent {
            .input-title {
              color: white;
              background: grey;
            }
          }

          span.average {
            //font-size: 1.2em;
            font-weight: bold;
            margin-right: 4px;
            padding: 3px;
          }

          /*
          .average-box{
            position: absolute;
            right: 3em;
            top: 0px;
            font-size: 0.875em;
            background: white;
            border-right: none;
            padding: 3px 12px 3px 8px;
            z-index: 2;
            border-radius: 5px;
            height: 18px;
            box-shadow: 2px 0px 5px 2px rgba(0,0,0,0.2);
            line-height: 13px;
            color: black !important;
            min-width: 4rem;

            &:after{
              content:"";
              transform:rotate(45deg);
              position: absolute;
              right: -3px;
              top: 3px;
              background:white;
              width: 12px;
              height: 12px;
            }


            .symbol{
              font-weight: bold;
            }

          }
          */

          .input-title {
            height: calc(var(--header-input-height) + 3px);
            line-height: calc(var(--header-input-height) + 2px);
            padding-right: 8px;
            display: inline-block;
            font-size: 0.75em;
          }
        }
      }
    }
  }

  &.extended-right {
    .corner.right {
      display: block;
    }
  }

  &.header-extended {
    .corner {
      height: calc(var(--header-height) + var(--ex-header-height));
      .extend-corner,
      .initial-corner {
        height: calc(var(--header-height) + var(--ex-header-height));
      }
      .cap-btn-nav-corner {
        height: calc(var(--header-height) + var(--ex-header-height));
        .input-titles {
          .input-title-container:not(.persistent) {
            display: unset;
            .average-box {
              visibility: visible;
            }
            .input-title {
              visibility: visible;
              height: auto;
            }
          }
        }
      }
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .corner {
        background: mapGet($theme, header, background);
        //color: mapGet($theme,head_color);
        border-color: mapGet($theme, header, border);
        .input-titles {
          .input-title-container {
            .input-title {
              color: mapGet($theme, header, input-title, color);
            }
          }
        }
      }
    }
  }
}
