.capibara {
  .corner-footer {
    position: sticky;
    left: 0px;
    bottom: 0px;
    z-index: 3;
    width: calc(
      var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
        var(--btn-nav-width)
    );
    height: var(--item-height);
    margin-bottom: calc(var(--item-height) * -1);
    box-sizing: border-box;

    .corner-title {
      line-height: 30px;
      height: inherit;
      display: block;
      text-align: left;
      box-sizing: border-box;
      position: relative;
      font-weight: bold;
      padding: 4px 8px;
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .corner-footer {
        background: mapGet($theme, footer, background);
        color: mapGet($theme, footer, color);
        border-color: mapGet($theme, footer, border);
      }
    }
  }
}
