.capibara {
  .detail-day {
    min-height: 50px;
    // max-height: min(calc(100% - 0px), 600px);
    min-width: 250px;
    max-width: 400px;
    border: 1px solid grey;
    padding: 0.75em;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 0 1em;
    box-sizing: border-box;
    box-shadow:
      0 6px 6px -3px rgba(0, 0, 0, 0.2),
      0 10px 14px 1px rgba(0, 0, 0, 0.14),
      0 4px 18px 3px rgba(0, 0, 0, 0.12);
    position: absolute;
    background: white;
    border-radius: 5px;
    transition: 0.3s all ease;
    will-change: transform, left, top;

    transform: translateY(
      calc(var(--item-height) / 2 * -1)
    ); //para ubicar el punto 0 en la flecha
    z-index: 4;
    opacity: 1;

    &:after {
      content: "";
      background: inherit;
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      left: -11px;
      top: calc(var(--item-height) / 2 + 7px);
      transform: rotate(45deg);
      border-color: grey;
      border-style: solid;
      border-width: 0px 0px 1px 1px;
    }

    &.dd-hide {
      display: none;
    }

    &.has-right-arrow {
      margin: 0px 16px 0px 0px;
      transform: translateX(calc(-100% - 20px - var(--day-width)))
        translateY(calc(var(--item-height) / 2 * -1));
      &:after {
        border-width: 1px 1px 0 0;
        left: unset;
        right: -11px;
      }
    }

    &.has-ceil-arrow {
      transform: translateY(-7px);
      &:after {
        top: 6px;
      }
      &.has-right-arrow {
        transform: translateX(calc(-100% - 20px - var(--day-width)))
          translateY(-7px);
        &:after {
          left: unset;
          right: -11px;
        }
      }
    }

    &.has-middle-arrow {
      transform: translateY(calc(-50% + var(--item-height) / 2));
      &:after {
        top: calc(50% - 10px);
      }
      &.has-right-arrow {
        transform: translateX(calc(-100% - 20px - var(--day-width)))
          translateY(calc(-50% + var(--item-height) / 2));
        &:after {
          left: unset;
          right: -11px;
        }
      }
    }

    &.has-bottom-arrow {
      transform: translateY(calc(-100% + var(--item-height)));
      &:after {
        top: unset;
        bottom: 4px;
      }
      &.has-right-arrow {
        transform: translateX(calc(-100% - 20px - var(--day-width)))
          translateY(calc(-100% + var(--item-height)));
        &:after {
          left: unset;
          right: -11px;
        }
      }
    }

    .header-detail {
      .title {
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 0.25em;
        min-width: 10em;
        max-width: 20em;
        line-height: unset;
      }
      .subtitle {
        font-size: 0.875em;
        margin-bottom: 8px;
        min-width: 10em;
      }
    }

    .list-detail {
      margin: 0; // 0.5em -0.25em 0px -0.25em;
      flex: 1 1 auto;

      // overflow-y: auto;
      // border: 1px solid rgba(100, 100, 100, 0.4);
      // border-radius: 5px;
      // padding: 0.5rem;
      // margin-bottom: 0.5rem;

      &.list {
        .item-detail {
          margin: 0px;
          font-size: 0.875em;
          position: relative;
          padding: 0.5em 0.5em 0.5em 1em;
          border-radius: 0;
          box-sizing: border-box;
          overflow: hidden;

          background: transparent;
          border: unset;
          border-top: 1px solid rgba(0, 0, 0, 0.1);

          display: flex;
          flex-direction: row;

          .left-icon {
            width: 8px;
            height: 8px;
            min-height: unset !important;
            left: 1px;
            top: 10px;
            border-radius: 50%;
            &.diamond {
              border-radius: 0;
              transform: rotate(45deg) skew(10deg, 10deg);
            }
            &.outlined {
              background: transparent;
            }
            &.triangle {
              border-radius: 0;
              transform: rotate(45deg) skew(10deg, 10deg) translate(3px, 3px);
              width: 0px;
              height: 0px;
              border-width: 5px;
              border-style: solid;
              background-color: transparent;
              //border-color: grey transparent transparent grey;
            }
            &.shield {
              width: 10px;
              height: 10px;
              border-radius: 0 0 50% 50%;
            }
          }

          .name {
            flex: 0 1 40%;
            //flex: 1 1 auto;
            font-weight: bold;
            margin-bottom: 0em;
            padding-right: 1em;
          }

          .item-description {
            //flex: 1 1 60%;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            align-items: start;

            .desc {
              display: flex;
              margin-bottom: 3px;
              align-items: baseline;

              &.desc-column {
                flex-direction: column;
                padding-bottom: 6px;
                align-items: start;
                width: 100%;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                margin-bottom: 0px;
                padding-bottom: 0px;

                &:last-child {
                  border-color: transparent;
                }

                .label {
                  margin-right: 0px;
                }
              }

              .label {
                display: inline-block;
                flex: 1 1 65%;
                font-weight: 700;
                margin-right: 0.5em;
              }

              .val {
                display: flex;
                align-items: baseline;
                margin-left: 1em;
              }

              .prefix,
              .suffix {
                font-size: 0.85em;
                flex: 0 0 auto;
              }

              .value:not(empty) {
                margin-right: 0.2em;
              }

              sup {
                top: -1em !important;
              }
            }
          }
        }
      }

      &.flex {
        display: inline-flex;
        flex-flow: wrap;
        writing-mode: vertical-lr;
        max-height: 25%;
        .item-detail {
          flex: 0 0 auto;
          min-width: 8em;
          writing-mode: horizontal-tb;
        }
      }

      &.column {
        columns: 7em 3;
        min-width: 30em;
        .item-detail {
          display: inline-block;
          width: 100%;
        }
      }

      .item-detail {
        margin: 4px;
        position: relative;
        padding: 0.5em 1em;
        border-radius: 6px;
        box-sizing: border-box;
        overflow: hidden;

        .name {
          font-weight: bold;
          margin-bottom: 0.5em;
          color: var(--local-color-font, inherit);
        }

        .item-description {
          .desc {
            .label {
              display: inline-block;
              //min-width: 36px;
              font-weight: 700;
            }
          }
        }

        .left-icon {
          //width: 6px;
          min-height: 10px;
          height: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
          background: var(--local-color, inherit);
          &.outlined {
            border: 1px solid var(--local-color, inherit);
            box-shadow: inset 0px 0px 0px 1px var(--local-color, inherit);
          }
          &.triangle {
            background: transparent;
            border-color: var(--local-color, inherit) transparent transparent
              var(--local-color, inherit);
          }
          &.shield {
            background: var(--local-color, grey);
          }
        }
      }
    }

    .elements-detail {
      padding: 0.5em 0 0.25em 0;
      display: flex;
      flex-wrap: wrap;
      .name {
        flex: 1 0 100%;
        font-weight: bold;
      }
      .elements-list {
        margin: 4px -4px;
        .element-detail {
          display: inline-block;
          padding: 0.25em 0.875em;
          border-radius: 3px;
          color: white;
          margin: 0.25em;
        }
      }
    }

    .alert {
      padding: 0.5em 0px 0.25em 2em;
      position: relative;
      min-width: 15em;
      min-width: 10em;
      max-width: 30em;
      .alert-icon {
        max-width: 2em;
        font-size: 1.75em;
        position: absolute;
        left: 0px;
        top: 0.5em;
        color: grey;
      }
      .red {
        color: $red;
      }
    }

    .msj-container {
      margin: 0em -0.78em -0.75em -0.78em;
      border: 1px solid grey;
      z-index: 2;

      pre {
        white-space: pre-wrap; /* Since CSS 2.1 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
      }
      .msj {
        min-width: 10em;
        max-width: 30em;
        margin: 0px 0px 0.5em 0px;
        padding: 0.75em;
        font-size: 0.875em;
      }
      .msj-detail {
        display: flex;
        flex-direction: column;
        padding: 0.25em 0.5em;
        .email {
          font-size: 0.875em;
          font-style: italic;
          opacity: 0.5;
        }
        .date {
          font-size: 0.725em;
        }
      }
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .detail-day {
        color: mapGet($theme, color);
        border-color: mapGet($theme, detailDay, border);
        background: mapGet($theme, detailDay, background);
        &:after {
          border-color: mapGet($theme, detailDay, border);
        }
        .list-detail {
          .item-detail {
            background: mapGet($theme, detailDay, item, background);
          }
          &.list {
            .item-detail {
              border-color: mapGet($theme, detailDay, border);
              .desc-column {
                border-color: mapGet($theme, detailDay, border);
              }
            }
          }
        }
        .elements-detail {
          .elements-list {
            .element-detail {
              color: mapGet($theme, detailDay, element, color);
              border-color: mapGet($theme, detailDay, element, border);
              background: mapGet($theme, detailDay, element, background);
            }
          }
        }
        .msj-container {
          background: mapGet($theme, detailDay, msj, background);
          border-color: mapGet($theme, detailDay, msj, border);
          color: mapGet($theme, detailDay, msj, color);
          .msj-detail {
            background: mapGet($theme, detailDay, msj, detail, background);
            border-color: mapGet($theme, detailDay, msj, detail, border);
            color: mapGet($theme, detailDay, msj, color);
          }
        }
      }
    }
  }
}
