.capibara .container-tl {
  footer {
    width: fit-content;
    bottom: 0px;
    min-width: 100%;
    height: var(--item-height);
    position: sticky;
    z-index: 2;
    box-sizing: border-box;

    .footer-container {
      position: relative;
      padding-left: calc(
        var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
          var(--btn-nav-width)
      );
      box-sizing: border-box;
      min-width: 100%;
      display: flex;

      .footer-item {
        padding: 10px 2px;
        width: var(--day-width);
        cursor: default;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        height: var(--item-height);
        text-align: center;
      }
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      footer {
        background: mapGet($theme, footer, background);
        color: mapGet($theme, footer, color);
      }
    }
  }
}
