.capibara {
  .container-tl {
    header {
      height: var(--header-height);
      width: fit-content;
      top: 0px;
      min-width: 100%;
      position: sticky;
      z-index: 3;
      border-bottom: 2px solid grey; // blue grey 200
      box-sizing: border-box;
      box-shadow:
        0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);

      .header-container-extended {
        height: auto;
        position: relative;
        padding-left: calc(
          var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
            var(--btn-nav-width)
        );
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .input-list {
          padding: 1px 0px;
          flex: 0 0 auto;
          display: flex;
          flex-direction: row;

          &:not(.persistent) {
            //visibility: hidden;
            //height: 0px;
            display: none;
          }

          & > div {
            width: var(--day-width);
            & > span {
              display: block;
              width: inherit;
              line-height: var(--header-input-height);
              height: var(--header-input-height);
              text-align: center;
              font-size: 0.875em;
            }
          }

          .dia-input {
            input {
              width: inherit;
              height: var(--header-input-height);
              border: 1px solid grey;
              border-left-width: 0px;
              border-radius: 0px;
              background: rgba(255, 255, 255, 0.5);
              text-align: center;
              font-size: 0.875em;

              &:active,
              &:focus {
                background: rgba(255, 255, 255, 0.8);
              }
            }
          }
        }
      }

      .header-container {
        position: relative;
        padding-left: calc(
          var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
            var(--btn-nav-width)
        );
        width: 100%;
        display: flex;
        height: var(--header-labels-height);

        .header-item {
          padding: 6px 8px;
          min-width: var(--item-min-width);
          height: var(--header-height);
          text-align: center;
          box-sizing: border-box;
          position: relative;
          border-left: 1px solid rgba(0, 0, 0, 0.1);

          span.bottom-text {
            position: absolute;
            left: 0px;
            bottom: 8px;
            width: 100%;
          }
        }
      }

      .agno-calendario {
        display: inline-block;
        width: max-content;

        .agno {
          position: sticky;
          left: calc(
            var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
              var(--btn-nav-width)
          );
          display: inline-block;
          padding-left: 8px;
          padding-right: 32px;
          font-size: 0.75em;
          margin-top: 4px;
        }

        .meses {
          display: block;
          display: flex;
        }

        .mes-calendario {
          display: inline-block;
          min-width: var(--day-width);

          .mes {
            display: inline-block;
            position: sticky;
            left: calc(
              var(--nav-width) + var(--initial-nav-width) + var(--btn-nav-width)
            );
            padding-left: 0.5em;
            padding-right: 2em;
            font-size: 0.875em;
            margin-top: 6px;

            &.mes-reduced {
              width: var(--day-width);
              max-width: var(--day-width);
              overflow: hidden;

              &.mes-reduced-2 {
                width: calc(var(--day-width) * 2);
                max-width: calc(var(--day-width) * 2);
              }

              &.mes-reduced-3 {
                width: calc(var(--day-width) * 3);
                max-width: calc(var(--day-width) * 3);
              }

              &.mes-reduced-4 {
                width: calc(var(--day-width) * 4);
                max-width: calc(var(--day-width) * 4);
              }

              .mes-label {
                width: max-content;
              }

              &:after {
                content: "";
                background: linear-gradient(
                  90deg,
                  rgba(0, 0, 0, 0) 0%,
                  red 100%
                );
                position: absolute;
                right: 0px;
                top: 0px;
                height: 100%;
                width: calc(var(--day-width) / 2);
              }
            }
          }
          .dias {
            display: flex;
            margin-top: 5px;

            .dia-calendario {
              width: var(--day-width);
              height: var(--header-day-height);
              vertical-align: bottom;
              font-size: 0.875em;
              border-right: 1px solid rgba(0, 0, 0, 0.1);
              box-sizing: border-box;
              padding: 4px 6px;
              text-align: center;
              position: relative;

              &:hover {
                //background: var(--hover-color) ;
              }
              &.weekend {
                //background: var(--header-dia-weekend-background) ;
              }
              &.today {
                //background: var(--header-dia-today-background) ;
                //color: white;
              }
              &.active {
                //background: var(--header-dia-active-background) ;
                //color: white;
              }
              &.is-clickeable {
                cursor: pointer;
              }

              &.has-alert:after {
                content: "";
                display: block;
                position: absolute;
                width: 0px;
                height: 0px;
                right: 0px;
                top: 0px;
                border-width: 6px;
                border-style: solid;
                border-color: red red transparent transparent;
                z-index: 1;
              }
            }
          }
        }
      }
    } //end header
  }

  &.header-extended .container-tl {
    header {
      height: calc(var(--header-height) + var(--ex-header-height));
      .header-container-extended {
        .input-list:not(.persistent) {
          display: flex;
          //visibility: visible;
          //height: auto;
        }
      }
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .container-tl {
        header {
          background: mapGet($theme, header, background);
          color: mapGet($theme, header, color);
          border-color: mapGet($theme, header, border);
          .agno-calendario {
            .mes-calendario {
              .mes {
                &.mes-reduced {
                  &:after {
                    background: linear-gradient(
                      90deg,
                      rgba(0, 0, 0, 0) 0%,
                      mapGet($theme, header, background) 100%
                    );
                  }
                }
              }
              .dias {
                .dia-calendario {
                  border-color: mapGet($theme, header, border);
                  &:hover {
                  }
                  &.weekend {
                    background: mapGet(
                      $theme,
                      header,
                      days,
                      weekend,
                      background
                    );
                    color: mapGet($theme, header, days, weekend, color);
                  }
                  &.today {
                    background: mapGet($theme, header, days, today, background);
                    color: mapGet($theme, header, days, today, color);
                  }
                  &.active {
                    background: mapGet(
                      $theme,
                      header,
                      days,
                      active,
                      background
                    );
                    color: mapGet($theme, header, days, active, color);
                  }
                  &.is-clickeable {
                    &:hover {
                      background: rgba(100, 100, 100, 0.4);
                    }
                    &:active {
                      background: rgba(100, 100, 100, 0.6);
                    }
                  }
                }
              }
            }
          }
          .header-container-extended {
            .input-list {
              div > span {
                color: mapGet($theme, header, input, color);
              }
              .dia-input {
                input {
                  background: mapGet($theme, header, input, background);
                  color: mapGet($theme, header, input, color);
                  border-color: mapGet($theme, header, input, border);
                  &:active,
                  &:focus {
                    background: mapGet(
                      $theme,
                      header,
                      input,
                      focus,
                      background
                    );
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
