.capibara {
  .header-top {
    position: relative;
    width: 100%;
    height: var(--header-top-height);
    padding: 0 0.5em;
    display: flex;
    flex-flow: row wrap;
    z-index: 5;

    .spacer {
      flex: 1 0 auto;
    }

    .tabs-container {
      display: flex;
      border-right: 1px solid rgba(111, 111, 111, 0.3);
      margin-right: 0.5em;

      &:not(:empty) {
        padding: 0px; // 16px;
      }

      button.tab {
        cursor: pointer;
        padding: 0.25em 1em;
        font-weight: bold;
        border: 1px solid transparent;
        margin: 0.5em 0.5em 0 0;
        border-radius: 30px;
        transition: background 0.2s ease;
        background: transparent;
        &:focus {
          box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
        }

        &.disabled {
          color: grey;
        }
        &:hover {
          border-color: grey;
        }
      }
    }

    .legends-container {
      display: flex;

      .legend {
        display: flex;
        flex-direction: row;
        margin-right: 1em;
        cursor: pointer;
        padding: 0.8em 0.5em 0.5em 0;
        &:not(.active) {
          opacity: 0.5;
          .icon-legend {
            background: grey !important;
          }
        }
        .icon-legend {
          width: 0.825em;
          height: 0.825em;
          margin: 2px 0.5em 2px 0;
          background: grey;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
          display: inline-block;
          border-radius: 1px;
          border: 1px solid rgba(0, 0, 0, 0.4);
          &.circle {
            border-radius: 50%;
          }
        }
        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }

      //copiado de media query
      &.force-mobile-style {
        position: absolute;
        left: 2em;
        top: 2em;
        background: inherit;
        color: inherit;
        flex-direction: column;
        z-index: 6;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 3px;
        box-shadow:
          0 2px 4px -1px rgba(0, 0, 0, 0.2),
          0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
        .legend {
          font-size: 16px;
          padding: 0.5em 0.5em;
        }
      }

      @media screen and (max-width: 959px) {
        position: absolute;
        left: 2em;
        top: 2em;
        background: inherit;
        color: inherit;
        flex-direction: column;
        z-index: 6;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 3px;
        box-shadow:
          0 2px 4px -1px rgba(0, 0, 0, 0.2),
          0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
        .legend {
          font-size: 16px;
          padding: 0.5em 0.5em;
        }
      }
    }
  }

  /*
  &.extended-right {
    .header-top{
      padding-right: calc( var(--nav-right-width ) + 8px);
    }
  }
  */

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      .header-top {
        background: mapGet($theme, header, background);
        .tabs-container {
          .tab {
            color: mapGet($theme, header, tab, color);
            &.disabled {
              color: mapGet($theme, header, tab, disabled, color);
            }
            &:hover {
              background: mapGet($theme, header, hover, background);
              color: mapGet($theme, header, hover, color);
            }
            &.active {
              background: mapGet($theme, header, active, background);
              color: mapGet($theme, header, active, color);
            }
          }
        }
      }
    }
  }
}
