.capibara {
  nav.right {
    position: absolute;
    right: 0px;
    top: calc(var(--header-height) + var(--header-top-height));
    width: var(--nav-right-width);
    height: calc(100% - var(--header-height) - var(--header-top-height));
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 5;
    display: none;
    border-left: 1px solid red;

    .nav-item,
    .child-nav-item {
      width: var(--nav-right-width);
    }

    .nav-input-container {
      text-align: center;
      .button-section {
        padding-bottom: 0.75em;
        padding-top: 0.75em;
        position: sticky;
        bottom: 0;
      }
    }
  }

  nav.left {
    min-height: calc(100% - var(--header-height));
    position: sticky;
    left: 0px;
    width: calc(
      var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
        var(--btn-nav-width)
    );
    height: auto;
    z-index: 2;
    border-right: 1px solid #b0bec5;
    overflow: visible;
    box-shadow:
      0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);

    .nav-item,
    .child-nav-item {
      width: var(--nav-width);
    }

    .detail-nav-item {
      min-width: 250px;
      max-width: 500px;
      width: max-content;
      min-height: 70px;
      position: absolute;
      left: 3rem; //calc( var(--nav-width ) + 14px );
      top: 0px;
      border: 1px solid grey;
      z-index: 2;
      border-radius: 5px;
      padding: 16px;
      transition: all 0.3s ease;
      flex-flow: column nowrap;
      box-shadow:
        0 6px 6px -3px rgba(0, 0, 0, 0.2),
        0 10px 14px 1px rgba(0, 0, 0, 0.14),
        0 4px 18px 3px rgba(0, 0, 0, 0.12);
      transform: translateY(calc(0.5rem + var(--item-height)));

      &.to-bottom {
        transform: translateY(calc(-100% - 0.5rem));
      }

      .header-detail {
        .detail-title {
          font-size: 1.125em;
          font-weight: bold;
          margin-bottom: 8px;
          //max-width: calc(100% - 80px);
          max-width: 100%;
          width: 100%;
          padding-right: 80px;
        }
        .detail-subtitle {
          font-size: 0.875;
          margin-bottom: 8px;
        }
        .header-chip {
          position: absolute;
          right: 16px;
          top: 16px;
          padding: 2px 8px;
          border: 3px solid grey;
          border-radius: 5px;
        }
      }
      .detail-container {
        & > div {
          margin: 6px 0px;
        }
      }
    }

    .initial-nav-list {
      width: var(--initial-nav-width);
      position: absolute;
      left: var(--nav-width);
      top: 0px;
      overflow: hidden;
      display: block;
      .child-initial-nav-item {
        border-bottom: 1px solid #b0bec5;
      }

      .initial-nav-item {
        border-bottom: 1px solid #b0bec5;
      }

      .child-initial-nav-item,
      .initial-nav-item {
        height: var(--item-height);
        box-sizing: border-box;
        display: flex;
        line-height: 34px;

        .item-title {
          flex: 1 0 auto;
          padding: 4px 8px;
        }

        .item-col {
          flex: 0 0 var(--nav-item-col-width);
          text-align: center;
          padding: 4px 8px;
          &.has-input {
            padding: 0px;

            & > .hour-input {
              font-size: 0.875em;
              width: calc(100% - 8px);
              border: 1px solid grey;
              border-radius: 3px;
              height: 24px;
            }

            & > input {
              text-align: center;
              font-size: 0.875em;
              width: calc(100% - 8px);
              display: block;
              margin: 4px;
              border: 1px solid grey;
              border-radius: 3px;
              height: 24px;
              margin-top: 8px;
              background: rgba(255, 255, 255, 0.2);
              &:active,
              &:focus {
                background: rgba(255, 255, 255, 0.8);
              }
            }
          }
        }
      }
    }

    //lista sidebar extendida
    .extend-nav-list {
      width: var(--ex-nav-width);
      position: absolute;
      left: calc(var(--nav-width) + var(--initial-nav-width));
      top: 0px;
      overflow: hidden;
      display: block;

      .child-ex-nav-item {
        border-bottom: 1px solid #b0bec5;
      }

      .ex-nav-item {
        border-bottom: 1px solid #b0bec5;
      }

      .child-ex-nav-item,
      .ex-nav-item {
        height: var(--item-height);
        box-sizing: border-box;
        display: flex;
        line-height: 1.75rem;

        .item-title {
          flex: 1 0 auto;
          padding: 4px 8px;
        }

        .item-col {
          flex: 0 0 var(--nav-item-col-width);
          text-align: center;
          padding: 4px 8px;

          &.has-input {
            padding: 0px;

            & > input {
              text-align: center;
              font-size: 0.875em;
              width: calc(100% - 8px);
              display: block;
              margin: 4px;
              border: 1px solid grey;
              border-radius: 3px;
              height: 24px;
              margin-top: 8px;
              background: rgba(255, 255, 255, 0.2);
              &:active,
              &:focus {
                background: rgba(255, 255, 255, 0.8);
              }
            }
          }
        }
      }
    }

    //lista de buttons en sidebar
    .cap-btn-nav-list {
      left: calc(
        var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width)
      );
      width: var(--btn-nav-width);
      position: absolute;
      top: 0px;
      overflow: hidden;

      .cap-btn-nav-item,
      .cap-btn-child-nav-item {
        .cap-btn-nav-item-content {
          height: var(--item-height);
          width: inherit;
          padding: 4px 6px;
          //display: flex;
          border-bottom: 1px solid #b0bec5;
          text-align: right;
        }
      }
    }

    .nav-item-total-footer {
      padding-top: 3px;
    }
  }

  nav {
    .nav-item-container,
    .initial-nav-item,
    .ex-nav-item,
    .cap-btn-nav-item {
      &.parent {
        background: rgba(25, 118, 210, 0.1);
        & > .item-title {
          max-width: calc(
            var(--nav-width) + var(--ex-nav-width) + var(--initial-nav-width) +
              var(--btn-nav-width) - 60px
          );
          width: auto;
        }
      }
    }

    .nav-item-list {
      .child-nav-item {
        //border-top: 1px solid #b0bec5 !important; // blue grey 200
      }
      .nav-item {
        //border-bottom: 1px solid #b0bec5 !important; // blue grey 200
      }
      .nav-item,
      .child-nav-item {
        min-height: var(--item-height);
        box-sizing: border-box;
        position: relative;

        .nav-item-container {
          display: flex;
          border-bottom: 1px solid #b0bec5; // blue grey 200
          height: var(--item-height);

          .tree-icon {
            transition: 0.5s all ease;
            background: transparent;
            border: none;
            width: 34px;
            flex: 0 0 34px;
            font-size: 1.5em;
            text-align: center;
            cursor: pointer;
            &:focus {
              box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
            }
          }

          .nav-item-icon {
            flex: 0 0 34px;
            font-size: 1.125em;
            vertical-align: middle;
            text-align: center;
            line-height: 40px;
            margin-top: 12px;
            path {
              width: 20px;
              height: 20px;
            }
          }

          .item-title {
            flex: 1 1 auto;
            display: grid; //hack
            font-size: 1em;
            line-height: 34px;
            padding: 4px 8px;

            &.full-width {
              flex: 1 0 auto;
              display: inline-block;
            }

            &.clickeable {
              cursor: pointer;
              &:hover {
                background: rgba(100, 100, 100, 0.2) !important;
                text-decoration: underline;
              }
            }

            &.hoverable {
              &:hover {
                background: rgba(100, 100, 100, 0.2) !important;
              }
            }
          }
        }
      }
    }

    .multibuttons-btn{
      background: transparent;
      border: none;
      color: rgb(153, 153, 153);
      font-size: 1.5em;
      cursor: pointer;
      min-width: 38px;
      max-height: 38px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &:hover{
        background: rgba(100, 100, 100, 0.2);
      }
    } 

  }

  /*
  &.extended {
    nav.left {
      width: calc( var(--nav-width ) + var(--ex-nav-width ) + var(--btn-nav-width));
      .cap-btn-nav-list {
        left: calc( var(--nav-width ) + var(--ex-nav-width) );
      }
      .initial-nav-list {
        display: none;
      }
      .extend-nav-list {
        display: unset;
      }
    }
  }
  */

  &.extended-right {
    nav.right {
      display: block;
    }
  }

  &.header-extended {
    nav.left {
      min-height: calc(100% - var(--header-height) + var(--ex-header-height));
    }
    nav.right {
      top: calc(
        var(--header-height) + var(--header-top-height) +
          var(--ex-header-height)
      );
      height: calc(
        100% - var(--header-height) - var(--header-top-height) -
          var(--ex-header-height)
      );
    }
  }

  @each $nameTheme, $theme in $themes {
    &#{$nameTheme} {
      nav.right {
        background: mapGet($theme, nav, right, background);
        .button-section {
          background: mapGet($theme, nav, right, background);
        }
      }

      nav.left {
        background: mapGet($theme, nav, left, background);
        border-color: mapGet($theme, nav, left, border);

        .detail-nav-item {
          color: mapGet($theme, detailDay, color);
          border-color: mapGet($theme, detailDay, border);
          background: mapGet($theme, detailDay, background);
          .header-chip {
            color: mapGet($theme, light, color);

            &.red-light {
              border-color: mapGet($theme, light, low);
            }
            &.yellow-light {
              border-color: mapGet($theme, light, medium);
            }
            &.green-light {
              border-color: mapGet($theme, light, high);
            }
          }
        }

        .initial-nav-list,
        .extend-nav-list {
          //background: mapGet($theme,nav, left, background);

          .child-initial-nav-item,
          .initial-nav-item,
          .child-ex-nav-item,
          .ex-nav-item {
            border-color: mapGet($theme, nav, left, border);
            .item-col {
              &.has-input {
                .hour-input,
                input {
                  background: mapGet($theme, nav, left, input, background);
                  color: mapGet($theme, nav, left, input, color);
                  &:active,
                  &:focus {
                    background: mapGet(
                      $theme,
                      nav,
                      left,
                      input,
                      focus,
                      background
                    );
                  }
                }
              }
            }
          }
        }

        .cap-btn-nav-list {
          //background: mapGet($theme,nav, left, background);
          .cap-btn-child-nav-item,
          .cap-btn-nav-item {
            .cap-btn-nav-item-content {
              border-color: mapGet($theme, nav, left, border);
            }
          }
        }
      }

      nav {
        .nav-item-list {
          .nav-item,
          .child-nav-item {
            .nav-item-container {
              .tree-icon {
                color: mapGet($theme, color);
              }
              .nav-item-icon {
                color: setTransparent(mapGet($theme, color), 0.8);
              }
              border-color: mapGet($theme, nav, left, border);
              .item-title {
                &.clickeable {
                  &:hover {
                    //
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
