.capibara {
  .container-tl {
    .plot-vertical-container {
      height: 0px;
      width: 0px;
      //position: sticky;
      position: absolute;
      //top: calc(var(--header-height ) + var(--ex-header-height ));
      left: calc(
        var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
          var(--btn-nav-width)
      );

      .plot-vertical {
        background: rgba(0, 0, 0, 0.3);
        width: var(--day-width);
        height: calc(100vh - (var(--header-height) + var(--header-top-height)));
        position: absolute;
        top: 0px;
        left: 0px;
        &.rain {
          //background: -webkit-repeating-linear-gradient(53deg, rgba(3,155,229,0.2), rgba(3,155,229,0.2) 5px, transparent 5px, transparent 12px);
          background: repeating-linear-gradient(
            53deg,
            rgba(3, 155, 229, 0.2),
            rgba(3, 155, 229, 0.2) 5px,
            transparent 5px,
            transparent 12px
          );
        }
      }
    }

    .plot-horizontal-container {
      height: 0px;
      width: 0px;
      position: absolute;
      //margin-top: var(--header-height) ;
      left: calc(
        var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
          var(--btn-nav-width)
      );

      .plot-horizontal {
        background: rgba(0, 0, 0, 0.3);
        width: 100vw;
        height: var(--item-height);
        position: absolute;
        top: 0px;
        left: 0px;
        &.plot-parent {
          background: rgba(25, 118, 210, 0.1);
        }
      }
    }

    &.extended-right .container-tl {
      .plot-container {
        .plot-vertical {
          height: calc(
            100vh - var(--header-height) + var(--ex-header-height) +
              var(--header-top-height)
          );
        }
      }
    }
  }
}
