.capibara {
  .select-container {
    overflow: visible;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;

    .selected-day {
      width: var(--day-width);
      height: var(--item-height);
      position: absolute;
      background: rgba(189, 189, 189, 0.4);
      box-shadow: inset 0px 0px 5px rgba(189, 189, 189, 0.8);
      &[cap-badge] {
        &::after {
          content: attr(cap-badge);
          display: block;
          position: absolute;
          right: -3px;
          top: -3px;
          background: rgb(21, 101, 192);
          font-size: 0.75em;
          color: white;
          width: 1.5em;
          height: 1.5em;
          border-radius: 50%;
          z-index: 2;
          text-align: center;
          font-weight: bold;
          padding: 2px;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
