.capibara {
  .container-tl {
    .table {
      position: absolute;
      left: calc(
        var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
          var(--btn-nav-width)
      );
      top: var(--header-height);
      width: calc(
        100% - var(--nav-width) - var(--initial-nav-width) - var(--ex-nav-width) -
          var(--btn-nav-width)
      );
      max-height: calc(100% - var(--header-height));
      height: calc(100% - var(--header-height));
      margin-top: -1px;

      .day-mouse-over {
        position: absolute;
        left: 0px;
        top: 0px;
        width: var(--day-width);
        height: var(--item-height);
        border: 3px solid rgba(245, 124, 0, 0.5);
        box-shadow:
          0px 0px 2px rgba(245, 124, 0, 1),
          inset 0px 0px 3px rgba(245, 124, 0, 1);

        transition: 0.1s transform ease;
        overflow: visible;
        will-change: transform;

        &:after,
        &:before {
          position: absolute;
          background: rgba(245, 124, 0, 0.1);
          content: "";
          display: block;
        }

        &:after {
          width: var(--day-width);
          height: 100vh;
          right: -4px;
          bottom: calc(var(--item-height) - 2px);
        }

        &:before {
          height: var(--item-height);
          width: 100vw;
          right: calc(var(--day-width) - 2px);
          bottom: -4px;
        }
      }

      .background-grid {
        width: calc(20 * var(--day-width));
        height: calc(20 * var(--item-height));
        position: absolute;
        left: 0;
        top: 1px;
        background-repeat: repeat;
        background-size:
          var(--day-width) var(--item-height),
          calc(var(--day-width) * 7) var(--item-height),
          calc(var(--day-width) * 7) var(--item-height);
        background-image: linear-gradient(
            90deg,
            rgba(80, 80, 80, 0.3) 1px,
            transparent 0
          ),
          linear-gradient(0deg, rgba(80, 80, 80, 0.3) 1px, transparent 0),
          linear-gradient(
            90deg,
            transparent calc(var(--day-width) * 5),
            rgba(80, 80, 80, 0.1) 0
          );
        background-position:
          0 0,
          0 0,
          0 0;
      }

      .draw-box {
        position: relative;
        canvas {
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
    }
  }

  &.header-extended .container-tl {
    .table {
      top: calc(var(--header-height) + var(--ex-header-height));
    }
  }
}
