.capibara .container-tl {
  .today-line {
    width: 0px;
    position: absolute;
    //top: var(--header-height);

    &.disable-line {
      display: none !important;
      &:after {
        display: none !important;
      }
    }

    &:after {
      margin-left: calc(
        var(--nav-width) + var(--initial-nav-width) + var(--ex-nav-width) +
          var(--btn-nav-width) + 1px
      );
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
      content: "";
      width: 2px;
      height: 100%; // calc(100vh - (var(--header-height) + var(--header-top-height)));
      background: rgba(183, 28, 28, 0.4);
    }
  }

  &.header-extended .container-tl {
    .today-line:after {
      height: calc(
        100vh - var(--header-height) + var(--ex-header-height) +
          var(--header-top-height)
      );
    }
  }
}
