@import "abstracts/functions";

.capibara {
  @each $colorName, $color in $dd_colors {
    //by global color theme

    //no dark
    &.#{$colorName}:not(.dark-theme) {
      scrollbar-color: desaturate($color, 20) transparent;

      ::-webkit-scrollbar-thumb {
        background: desaturate($color, 20);
      }

      .header-top {
        background: lighten(desaturate($color, 50), 40);
      }

      .corner {
        background: lighten(desaturate($color, 50), 40);
        border-color: lighten($color, 20);
      }

      .container-tl {
        header {
          background: lighten(desaturate($color, 50), 40);
          border-bottom-color: lighten($color, 20);
          .mes {
            &.mes-reduced {
              &:after {
                background: linear-gradient(
                  90deg,
                  rgba(0, 0, 0, 0) 0%,
                  lighten(desaturate($color, 50), 40) 100%
                ) !important;
              }
            }
          }
        }
      }

      nav.right {
        border-color: lighten($color, 20);
      }
    }

    //only dark
    &.#{$colorName}.dark-theme {
      .header-top {
        border-color: darken($color, 20);
      }
      nav.right {
        border-color: darken($color, 20);
      }
      .corner {
        border-bottom-color: darken($color, 20);
      }
      .container-tl {
        header {
          border-bottom-color: darken($color, 20);
        }
      }
    }

    //both
    &.#{$colorName},
    &.#{$colorName}.dark-theme {
      ::selection {
        background-color: transparentize($color, 0.8) !important;
      }

      .progress-bar {
        background-color: transparentize($color, 0.8) !important;
        &::before,
        &::after {
          background-color: $color !important;
        }
      }

      select.tabs-select {
        background-color: transparentize($color, 0.3) !important;
        border-color: $color !important;
      }

      .time {
        border-color: transparentize($color, 0.4);
        .symbol {
          color: $color;
        }
        input {
          &:focus,
          &:active {
            border-color: $color;
            box-shadow: 0px 4px 6px transparentize($color, 0.8);
          }
        }
      }
      .input-box {
        border-color: transparentize($color, 0.4);
      }

      .input-section {
        select.input-select {
          border-color: transparentize($color, 0.4);
          &:focus,
          &:active {
            border-color: $color;
            box-shadow: 0px 4px 6px transparentize($color, 0.8);
          }
        }

        input.nav-input,
        .nav-input-file {
          border-color: transparentize($color, 0.4);
          &:focus,
          &:active {
            border-color: $color;
            box-shadow: 0px 4px 6px transparentize($color, 0.8);
          }
        }
        &.msj-input-container {
          textarea.msj {
            border: 2px solid $color;
            &:focus,
            &:active {
              box-shadow: 0px 4px 6px transparentize($color, 0.8);
            }
          }
        }
      }

      .cap-btn-raised {
        border-color: $color;
        background: transparentize($color, 0.2);
      }

      .cap-btn-outline {
        border-color: $color;
        color: $color;
        &.selected {
          background: transparentize($color, 0.2);
        }
      }

      .select-container {
        .selected-day {
          background: transparentize($color, 0.7);
          box-shadow: inset 0px 0px 10px transparentize($color, 0.5);
        }
      }
    }

    //independent global color theme

    .#{$colorName}--background {
      background: $color !important;
    }
    .#{$colorName}-d--background {
      background: darken($color, 15%) !important;
    }
    .#{$colorName}-l--background {
      background: lighten($color, 15%) !important;
    }

    .#{$colorName}--text {
      color: $color !important;
    }
    .#{$colorName}-d--text {
      color: darken($color, 15%) !important;
    }
    .#{$colorName}-l--text {
      color: lighten($color, 15%) !important;
    }

    .detail-day {
      .list-detail {
        .item-detail {
          &.#{$colorName} {
            background: transparentize($color, 0.8);
            border: 1px solid $color;
            .left-icon {
              background: $color;
              &.outlined {
                border: 1px solid $color;
                box-shadow: inset 0px 0px 0px 1px transparentize($color, 0.3);
              }
            }
            .name {
              color: $color;
            }
          }
        }
      }
    }

    .float-box-container {
      .float-box {
        span.data.#{$colorName} {
          --local-color: #{$color};
          --local-color-font: #{getColorFontContrast($color)};
        }
        .dot.#{$colorName} {
          --local-color: #{$color};
        }

        .rowdot--row.#{$colorName} .rowdot--dot {
          --local-color: #{$color};
        }
      }
      .float-box-ext {
        .long-bar.#{$colorName} {
          --local-color: #{$color};
        }
      }
    }

    .header-top {
      .tabs-container {
        .tab:not(.disabled) {
          &.#{$colorName} {
            //border-color: transparentize($color, 0.4);
            //color: $color;
            &.active {
              background: transparentize($color, 0.3);
              border-color: transparentize($color, 0.3);
              color: white;
              &:hover {
                background: transparentize($color, 0.2);
              }
            }
            &:hover {
              background: transparentize($color, 0.8);
              border-color: transparentize($color, 0.1);
            }
          }
        }
      }
    }

    .input-box {
      .mini-input-section--icon.#{$colorName} {
        background: $color;
      }
    }
  }
}
