@import "abstracts/functions";
@import "abstracts/colors";

$themes: (
  "": (
    //default
    background: rgba(245, 245, 245, 1),
    color: rgba(55, 71, 79, 1),
    floatBox: (
      shapeBar: (
        border: rgba(0, 0, 0, 0.2)
      ),
      shadow: rgba(113, 189, 255, 0.4)
    ),

    detailDay: (
      background: white,
      border: rgba(0, 0, 0, 0.2),
      msj: (
        background: #ffecb3,
        border: #ffca28,
        detail: (
          background: #ffe082,
          border: #ffca28
        )
      ),
      element: (
        background: rgba(55, 71, 79, 0.8)
      )
    ),

    light: (
      high: rgb(56, 153, 61),
      medium: rgba(253, 216, 53, 1),
      low: rgb(248, 71, 71),
      disabled: rgb(115, 115, 115),
      blue: rgb(2, 119, 189),
      border: rgba(255, 255, 255, 0.8)
    ),

    header: (
      background: rgb(241, 255, 254),
      color: rgba(55, 71, 79, 1),
      input: (
        color: mapGet($darkBlueColors, base)
      ),
      tab: (
        color: mapGet($darkBlueColors, base),
        disabled: (
          color: rgba(49, 59, 80, 0.5)
        )
      ),
      days: (
        today: (
          background: rgba(229, 57, 53, 0.9),
          color: white
        ),
        weekend: (
          background: rgba(0, 0, 0, 0.1),
          color: rgba(38, 50, 56, 1)
        ),
        active: (
          background: green,
          color: white
        )
      )
    ),

    nav: (
      left: (
        background: rgba(250, 250, 250, 1),
        color: rgba(55, 71, 79, 1),
        tooltip: (
          background: rgba(250, 250, 250, 1)
        )
      ),
      right: (
        background: rgba(250, 250, 250, 1),
        tooltip: (
          background: rgba(250, 250, 250, 1),
          color: rgba(55, 71, 79, 1)
        )
      )
    ),

    footer: (
      background: #78909c,
      color: white,
      item: (
        background: rgba(55, 71, 79, 1)
      )
    ),

    input: (
      border: green,
      color: rgba(55, 71, 79, 1),
      msj: (
        background: rgba(255, 249, 196, 1),
        border: rgba(0, 0, 0, 0.4)
      )
    ),

    button: (
      outline: (
        border: blue,
        background: transparent,
        color: blue
      ),
      raised: (
        border: blue,
        background: blue,
        color: white
      )
    ),

    button-shape: (
      background: rgba(56, 142, 60, 1),
      emptyBackground: rgba(97, 97, 97, 1),
      color: rgba(55, 71, 79, 1),
      contrastColor: white
    ),

    button-icon: (
      color: rgba(55, 71, 79, 1),
      badge: rgba(245, 124, 0, 1),
      outline: (
        border: rgba(84, 110, 122, 1),
        background: transparent,
        color: rgba(84, 110, 122, 1)
      ),
      raised: (
        border: rgba(84, 110, 122, 1),
        background: rgb(84, 110, 122),
        color: rgba(84, 110, 122, 1)
      )
    )
  ),

  // end theme
  ".dark-theme":
    (
      //default
      background: mapGet($darkBlueColors, darken-2),
      // rgb(32, 39, 55),
      color: rgb(240, 240, 240),
      floatBox: (
        shapeBar: (
          border: rgba(0, 0, 0, 0.3)
        ),
        shadow: rgba(122, 122, 122, 0.6)
      ),

      scroll: (
        background: transparent,
        color: rgba(189, 189, 189, 1)
      ),

      light: (
        high: rgba(56, 142, 60, 1),
        medium: rgb(251, 205, 0),
        low: rgb(170, 26, 26),
        border: mapGet($darkBlueColors, lighten-2),
        color: rgb(240, 240, 240)
      ),

      detailDay: (
        background: mapGet($darkBlueColors, darken-2),
        border: mapGet($darkBlueColors, lighten-2),
        msj: (
          background: mapGet($darkBlueColors, darken-1),
          border: rgba(251, 192, 45, 0.4),
          detail: (
            background: rgba(251, 192, 45, 0.1)
          )
        ),
        element: (
          background: mapGet($darkBlueColors, darken-1)
        ),
        item: (
          background: transparent !important
        )
      ),

      header: (
        //background: rgb(66, 66, 66),
        background: mapGet($darkBlueColors, base),
        color: rgba(240, 240, 240, 1),
        //border: rgba(255, 255, 255, 0.2),
        border: setTransparent(mapGet($darkBlueColors, lighten-2), 0.4),
        tab: (
          color: rgba(255, 255, 255, 0.8),
          disabled: (
            color: rgba(255, 255, 255, 0.4)
          )
        ),

        input-title: (
          color: rgba(255, 255, 255, 0.8) !important
        ),
        input: (
          //background:rgba(255, 255, 255, 0.1),
          background: setTransparent(mapGet($darkBlueColors, lighten-2), 0.4),
          border: mapGet($darkBlueColors, base),
          color: rgba(255, 255, 255, 0.8) !important,
          focus: (
            background: rgba(255, 255, 255, 0.2)
          )
        ),

        days: (
          today: (
            background: rgba(183, 28, 28, 0.6),
            color: rgba(240, 240, 240, 1)
          ),
          weekend: (
            background: mapGet($darkBlueColors, darken-2),
            color: rgba(240, 240, 240, 1)
          ),
          active: (
            background: rgba(56, 142, 60, 0.6),
            color: rgba(240, 240, 240, 1)
          )
        )
      ),

      nav: (
        left: (
          background: mapGet($darkBlueColors, darken-2),
          border: setTransparent(mapGet($darkBlueColors, lighten-2), 0.4),
          color: rgba(240, 240, 240, 1),
          input: (
            background: mapGet($darkBlueColors, lighten-2),
            color: rgba(240, 240, 240, 1),
            focus: (
              background: rgba(255, 255, 255, 0.2)
            )
          )
        ),
        right: (
          background: mapGet($darkBlueColors, darken-2),
          color: rgba(240, 240, 240, 1),
          tooltip: (
            background: mapGet($darkBlueColors, darken-2),
            color: rgba(240, 240, 240, 1)
          )
        )
      ),

      footer: (
        //background: rgb(66, 66, 66),
        background: mapGet($darkBlueColors, base),
        color: rgba(240, 240, 240, 1),
        item: (
          //background: rgb(66, 66, 66),
          background: mapGet($darkBlueColors, base),
          color: rgba(240, 240, 240, 1)
        )
      ),

      input: (
        //border: rgba(158,158,158, 1),
        border: mapGet($darkBlueColors, lighten-2),
        color: rgba(240, 240, 240, 1),
        msj: (
          background: rgba(251, 192, 45, 0.5),
          border: rgba(158, 158, 158, 1),
          color: rgba(240, 240, 240, 1)
        )
      ),

      button: (
        outline: (
          border: rgba(240, 240, 240, 1),
          background: transparent,
          color: rgba(240, 240, 240, 1)
        ),
        raised: (
          border: rgba(240, 240, 240, 1),
          background: mapGet($darkBlueColors, lighten-2),
          color: rgba(240, 240, 240, 1)
        )
      ),

      button-shape: (
        color: rgba(240, 240, 240, 0.8),
        contrastColor: rgba(240, 240, 240, 0.8),
        background: rgba(46, 125, 50, 1),
        emptyBackground: rgba(97, 97, 97, 1)
      ),

      button-icon: (
        color: rgba(240, 240, 240, 0.8),
        badge: rgba(56, 142, 60, 1),
        outline: (
          border: rgba(240, 240, 240, 0.8),
          background: transparent,
          color: rgba(240, 240, 240, 0.8)
        ),
        raised: (
          border: rgba(240, 240, 240, 0.8),
          background: rgba(240, 240, 240, 1),
          color: rgba(240, 240, 240, 0.8)
        )
      )
    ),

  // end theme
);
